* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    width: 350px;
    backdrop-filter: blur(6px);
    border-radius: 10px;
}

.login-form .input-box {
    position: relative;
    margin: 10px 0px 0px 0px;
}

.login-form .input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
}

.login-form .input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s;
}

.login-form .input-box input:focus ~ label,
.login-form .input-box input:valid ~ label {
    top: 0%;
    left: 10px;
    font-size: 10px;
    color: #2c2c2c;
    background-color:  #f0f0f0;
    padding: 0px 5px;
}

.login-form .input-box i {
    position: absolute;
    top: 55%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #272626;
    cursor: pointer;
}

.forg-pass {
    text-align: right;
    margin: 5px 0px;
    font-size: 14px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-bottom: 5px;
}

.login-form .no-acc label {
    font-size: 14px;
    
}







.hidden {
    display: none;
}

#signup-page .input-box {
    position: relative;
    margin: 10px 0px 0px 0px;
}

#signup-page .input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#signup-page .input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s;
}

#signup-page .input-box input:focus~label,
#signup-page .input-box input:valid~label {
    top: 0%;
    left: 10px;
    font-size: 10px;
    color: #333;
    background: #f0f0f0;
    padding: 0px 5px;
}

#signup-page .input-box i {
    position: absolute;
    top: 55%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #272626;
    cursor: pointer;
}

#signup-page .signup-btn button{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin: 10px 0px;
}

#signup-page .have-acc label {
    font-size: 14px;
}
